/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
*.apk
*.aab
*_BurstDebugInformation_DoNotShip/
*_BackUpThisFolder_ButDontShipItWithYourGame/
.vscode/
.vs/
*.csproj
*.sln
*.slnx
.DS_Store
mono_crash*.json
